@model IEnumerable<WebAppOGL.Entities.Sistemas.sis_impresoras>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSistemas.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Impresoras</h2> &nbsp;&nbsp;&nbsp;                
                <button class="btn btn-success" onclick="CrearImpresora()"><i class="fa fa-plus-circle"></i> Agregar Registro</button>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="tblEstatus" class="table table-bordered jambo_table">
                    <thead>
                        <tr>
                            <th>
                                Modelo
                            </th>
                            <th>
                                Numero de Serie
                            </th>
                            <th>
                                Hostname
                            </th>
                            <th>
                                Toner
                            </th>
                            <th>
                                Marca
                            </th>
                            <th>
                                Tipo Impresora
                            </th>
                            <th>
                                Estatus Fiscal
                            </th>                          
                            <th>
                                Estatus Equipo
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Numero_Serie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hostname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo_Toner)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sis_marcas.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sis_tipoimpresoras.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sis_statusfiscal.Descripcion)
                    </td>                  
                    <td>
                        @Html.DisplayFor(modelItem => item.sis_estatusequipo.Descripcion)
                    </td>
                    <td>
                        <button class="btn btn-primary" onclick="EditarImpresora(@Html.Raw(item.Id))"> <span class="fa fa-edit" all="Editar" title="Editar"></span>  </button>
                        <button class="btn btn-info" onclick="DetalleImpresora(@Html.Raw(item.Id))"> <span class="fa fa-list-alt" all="Detalles" title="Detalles"></span>  </button>
                    </td>
                </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Define el modal -->
<div id="MyModal" class="modal fade bs-example-modal-lg">
    <div class="modal-dialog modal-lg" id="mdialTamanio">
        <div class="modal-content">
            <div id="MyModalContent"></div>
        </div>
    </div>
</div>


<link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap.min.js"></script>
<script src="~/build/js/custom.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tblEstatus').DataTable();
    });
</script>


<script type="text/javascript">

    var CrearImpresora = function (ID) {
        $.ajaxSetup({ cache: false });
        var url = "/sis_impresoras/Create/";
        $("#MyModalContent").load(url, function () {
            $("#MyModal").modal({
                //backdrop: 'static',
                keyboard: false
            }, 'show');
            bindForm(this);
        });
        return false;
    }

    var EditarImpresora = function (ID) {
        $.ajaxSetup({ cache: false });
        var url = "/sis_impresoras/Edit/" + ID;
        $("#MyModalContent").load(url, function () {
            $("#MyModal").modal({
                //backdrop: 'static',
                keyboard: false
            }, 'show');
            bindForm(this);
        });
        return false;
    }

    var DetalleImpresora = function (ID) {
        $.ajaxSetup({ cache: false });
        var url = "/sis_impresoras/Details/" + ID;
        $("#MyModalContent").load(url, function () {
            $("#MyModal").modal({
                //backdrop: 'static',
                keyboard: false
            }, 'show');
            bindForm(this);
        });
        return false;
    }

    function bindForm(dialog) {
        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result === 'Correcto') {
                        $("#MyModal").modal('hide');
                        toastr.success('Operacion Correcta.');
                        table.draw();
                    }
                    else {
                        $("#MyModal").modal('show');
                        toastr.error('Ha ocurrido un error.');
                        bindForm(dialog);
                    }
                },
                error: function (xml, message, text) {
                    toastr.error("Msg: " + message + ", Text: " + text);
                }
            });
            return false;
        });
    }

</script>