<!DOCTYPE html>

<html>
<head>
    <link href="~/images/LOGO TRANSPARENTE.png" rel="shortcut icon" type="image/x-icon" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="~/Scripts/umd/popper.min.js"></script>


    <title>@ViewBag.Title - Open Gate Logistics</title>
    <link href="~/images/LOGO TRANSPARENTE.png" rel="shortcut icon" type="image/x-icon" />
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet" />
    <link href="~/build/css/custom.min.css" rel="stylesheet" />

    <script src="~/vendors/jquery/dist/jquery.min.js"></script>

    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <script src="~/vendors/iCheck/icheck.min.js"></script>

    <!-- Toastr -->
    <script src="~/Scripts/toastr.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />

</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <br />
                    <div class="navbar nav_title" style="border: 0; height:90px">
                        <a href='@Url.Action("Index", "Home")' class="site_title img-responsive" style="height:auto; width:200px"><img src="~/images/LOGO.jpg" class="img-responsive" /></a>
                    </div>

                    <div class="clearfix"></div>

                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li><a href='@Url.Action("Index", "sis_dashboard")'><i class="fa fa-dashboard"></i>Dashboard</a></li>
                                <li>
                                    <a><i class="fa fa-database"></i> Asignaciones <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="">
                                        <li><a href='@Url.Action("AsignacionEquipos", "sis_asignacion")'>Equipos de Computo</a></li>
                                        <li><a href='@Url.Action("Index", "sis_asignacion_impresoras")'>Impresoras</a></li>
                                        <li><a href='@Url.Action("AsignacionTerminales", "sis_asignacion")'>Terminales</a></li>
                                        <li><a href='@Url.Action("AsignacionCelulares", "sis_asignacion")'>Celulares</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-desktop"></i> Registro de Activos <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="">
                                        <li><a href='@Url.Action("Index", "sis_equipos")'>Equipos de Computo</a></li>
                                        <li><a href='@Url.Action("Index", "sis_impresoras")'>Impresoras</a></li>
                                        <li><a href='@Url.Action("Index", "sis_terminales")'>Terminales</a></li>
                                        <li><a href='@Url.Action("Index", "sis_celulares")'>Celulares</a></li>
                                    </ul>
                                </li>
                            </ul>

                            
                        </div>
                      
                        <div class="menu_section">
                            <h3>Catalogos Sistemas</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-cogs"></i> Configuracion <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="">
                                        <li><a href='@Url.Action("Index", "sis_tipoimpresoras")'>Tipo Impresoras</a></li>
                                        <li><a href='@Url.Action("Index", "sis_tipoequipos")'>Tipo Equipos</a></li>
                                        <li><a href='@Url.Action("Index", "sis_marcas")'>Marcas</a></li>
                                        <li><a href='@Url.Action("Index", "sis_mantenimiento")'>Mantenimiento</a></li>
                                        <li><a href='@Url.Action("Index", "sis_estatusequipo")'>Estado Equipos</a></li>
                                        <li><a href='@Url.Action("Index", "sis_statusfiscal")'>Estatus Fiscal</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="menu_section">
                            <h3>Catalogos Administracion</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-cogs"></i> Configuracion <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="">
                                        <li><a href='@Url.Action("Index", "adm_empleados")'>Empleados</a></li>
                                        <li><a href='@Url.Action("Index", "adm_area")'>Areas</a></li>
                                        <li><a href='@Url.Action("Index", "adm_sucursales")'>Sucursales</a></li>
                                        <li><a href='@Url.Action("Index", "adm_cuentas")'>Cuentas</a></li>
                                        <li><a href='@Url.Action("Index", "adm_puestos")'>Puestos</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">

                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        @Html.Partial("_LoginPartial")
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    <p>&copy; @DateTime.Now.Year - <a href="http://www.opengatelogistics.com/" target="_blank">OPEN GATE LOGISTICS</a> </p>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
