
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSistemas.cshtml";
}

<h2>Index</h2>

<a href="@Url.Action("Index", "sis_dashboard")">Dashboard</a>
<br />
<a href="@Url.Action("Index", "sis_equipos")">Equipos</a>
<br />
<a href="@Url.Action("Index", "sis_tipoequipos")">Tipo Equipos</a>
<br />
<a href="@Url.Action("Index", "sis_marcas")">Marcas</a>
<br />
<a href="@Url.Action("Index", "sis_mantenimiento")">Mantenimiento</a>
<br />
<a href="@Url.Action("Index", "sis_estatusequipo")">Estado Equipos</a>

<script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="~/build/js/custom.min.js"></script>