@model WebAppOGL.Entities.OrdenesCompra.oc_solicitantes

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutOrdenesCompras.cshtml";
}
<div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-0 ">
    <div class="x_panel">
        <div class="x_title">
            <h3>Eliminar Solicitante</h3>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="bs-example" data-example-id="simple-jumbotron">
                <center>
                    <h3>¿Desea eliminar estos registro?</h3>
                </center>

                <div class="jumbotron ">
                    <p>
                        <h4>
                            <label>
                                Nombre Completo: @Html.DisplayFor(model => model.NombreCompleto)
                            </label>
                        </h4>
                        <h4>
                            <label>
                                Empleado: @Html.DisplayFor(model => model.adm_empleados_Id)
                            </label>
                        </h4>
                        <h4>
                            <label>
                                Supervisor: @Html.DisplayFor(model => model.oc_supervisores_Id)
                            </label>
                        </h4>
                       
                    </p>

                </div>

            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <a class="btn btn-default" href="@Url.Action("Index")">Regresar</a>|
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            }
        </div>
    </div>
</div>

