@model IEnumerable<WebAppOGL.Entities.Sistemas.sis_asignacion_celulares>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSistemas.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <h2>Asignacion de Celulares </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

    </div>
</div>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adm_empleados_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adm_area_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adm_sucursales_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sis_celulares_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adm_cuentas_Id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adm_empleados_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adm_area_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adm_sucursales_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sis_celulares_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adm_cuentas_Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
