@model WebAppOGL.Entities.OrdenesCompra.oc_detproveedorcategoria

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutOrdenesCompras.cshtml";
}

<h2>Details</h2>

<div>
    <h4>oc_detproveedorcategoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.oc_categoriaproveedores.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oc_categoriaproveedores.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oc_proveedores.RFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oc_proveedores.RFC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
