@model WebAppOGL.Entities.Sistemas.sis_tipoequipos

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSistemas.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="modal-content">
        <div class="modal-header">
            <center>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Crear Tipo Equipo</h4>
            </center>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Informacion del Tipo de Equipo </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-label-left input_mask">
                            @*<div class="form-horizontal">*@
                            <h4>sis_tipoequipos</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*</div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location='/sis_tipoequipos'">Close</button>
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}