@model WebAppOGL.Entities.OrdenesCompra.oc_ordenescompras

@{
    Layout = "~/Views/Shared/_LayoutOrdenesCompras.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Informacion General <small>Edit</small></h2>
                &nbsp;
                &nbsp;
                &nbsp;
                <button type="button" onclick="EditarOrden()" class="btn btn-primary" id="btnSave"><i class="fa fa-floppy-o"></i> Guardar</button>
                <a type="submit" class="btn btn-danger" href="@Url.Action("Index")"><i class="fa fa-trash"></i> Cancelar</a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-label-left input_mask">
                    <div class="col-md-3 col-sm-3 form-group has-feedback">
                        @Html.EditorFor(model => model.Folio, new { htmlAttributes = new { @class = "form-control has-feedback-left", disabled = "disabled", @placeholder = "Fecha_Compra" } })
                        <span class="fa fa-bookmark form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-3 col-sm-3 form-group has-feedback"  all="Cuentas" title="Cuentas">
                        @Html.DropDownList("adm_cuentas_Id", null, htmlAttributes: new { @class = "form-control has-feedback-left"})
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true" ></span>
                    </div>
                    <div class="col-md-3 col-sm-3 form-group has-feedback" all="Centro De Costos" title="Centro De Costos">
                        @Html.DropDownList("oc_centrocostos_Id", null, htmlAttributes: new { @class = "form-control has-feedback-left" })
                        <span class="fa fa-cube form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-3 col-sm-3 form-group has-feedback" all="Subcentro de Costos" title="Subcentro de Costos">
                        @Html.DropDownList("oc_subcentrocostos_Id", null, htmlAttributes: new { @class = "form-control has-feedback-left" })
                        <span class="fa fa-cubes form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-3 col-sm-3 form-group has-feedback" all="Proveedores" title="Proveedores">
                        @Html.DropDownList("oc_proveedores_Id", null, htmlAttributes: new { @class = "form-control has-feedback-left" })
                        <span class="fa fa-group form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-3 col-sm-3 form-group has-feedback" all="Categorias" title="Categorias">
                        @Html.DropDownList("oc_categoria_Id", null, htmlAttributes: new { @class = "form-control has-feedback-left" })
                        <span class="fa fa-tags form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-3 col-sm-3 form-group has-feedback" all="Forma de Pago" title="Forma de Pago">
                        @Html.DropDownList("oc_formapago_Id", null, htmlAttributes: new { @class = "form-control has-feedback-left" })
                        <span class="fa fa-credit-card form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-3 col-sm-3 form-group has-feedback" all="Lugar de Entrega" title="Lugar de Entrega">
                        @Html.DropDownList("oc_lugarentrega_Id", null, htmlAttributes: new { @class = "form-control has-feedback-left" })
                        <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-3 col-sm-3 form-group has-feedback" all="Tipo de Compra" title="Tipo de Compra">
                        @Html.DropDownList("oc_tipocompra_Id", null, htmlAttributes: new { @class = "form-control has-feedback-left" })
                        <span class="fa fa-globe form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-3 col-sm-3 form-group has-feedback" all="Divisas" title="Divisas">
                        @Html.DropDownList("oc_divisa_Id", null, htmlAttributes: new { @class = "form-control has-feedback-left" })
                        <span class="fa fa-usd form-control-feedback left" aria-hidden="true"></span>
                    </div>
                </div>           
                @Html.Action("TablaConceptos")
                <br />
                <br />
                <div class="x_title">
                    <h2>Infromacion Adicional</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.Proyecto, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.Justificacion, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/build/js/custom.min.js"></script>

<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">

    var table;

    var IdOC = '@Html.Raw(Model.Id)';

    $(document).ready(function () {
        table = $('#tblConceptos').DataTable({
            "order": [[0, "desc"]],
            "ordering": true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pagingType": "simple_numbers",
            "dom": 'Blrtip', // Hides Default Search
            "processing": true,
            "serverSide": true,
            "orderMulti": false,
            "deferRender": true,
            rowId: 'Id',
            select: true,
            "ajax": {
                "url": "/oc_ordenesdecompras/ObtenerConceptosOC",
                "data": { id: IdOC },
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs": [
                {
                    "targets": [3,4,5], // your case first column
                    "className": "text-center",
                    "width": "10%"
                },
                {
                    "targets": [2], // your case first column                    
                    "width": "40%"
                }
            ],
            "aoColumns": [
                { "data": "Id", "autoWidth": true, "visible": false },
                { "data": "codigo", "autoWidth": true },
                { "data": "producto", "autoWidth": true },
                { "data": "cantidad", "autoWidth": true },
                { "data": "precio", "autoWidth": true },
                { "data": "subtotal", "autoWidth": true },
                {
                    "data": null,
                    "targets": -1,
                    "render": function (data, type, full) {
                        return "<a onclick='EditarConcepto(" + full['Id'] + ")' id='btnEdit" + full['id'] + "' class='btn btn-sm btn-primary'><i class='fa fa-edit' all='Editar' title='Editar'></i></a>" +
                            "<a onclick='EliminarConcepto(" + full['Id'] + ")' id='btnEdit" + full['id'] + "' class='btn btn-sm btn-danger'><i class='fa fa-trash' all='Eliminar' title='Eliminar'></i></a>";
                    },
                    "bSearchable": false,
                    "sortable": false,
                    "autoWidth": false,
                    "sWidth": "18px"
                }
            ]
        });

        $('#txtFolio').on('keyup', function () {
            table.columns(0).search(this.value).draw();
        });
    });

    var AgregarConcepto = function (ID) {
        $.ajaxSetup({ cache: false });
        var url = "/oc_det_ordenes_productos/AgregarConcepto/" + ID;
        $("#MyModalContent").load(url, function () {
            $("#MyModal").modal({
                //backdrop: 'static',
                keyboard: false
            }, 'show');
            bindForm(this);
        });
        return false;
    }

    var EditarConcepto = function (ID) {
        $.ajaxSetup({ cache: false });
        var url = "/oc_det_ordenes_productos/EditarConcepto/" + ID;
        $("#MyModalContent").load(url, function () {
            $("#MyModal").modal({
                //backdrop: 'static',
                keyboard: false
            }, 'show');
            bindForm(this);
        });
        return false;
    }

    var EliminarConcepto = function (ID) {
        $.ajaxSetup({ cache: false });
        var url = "/oc_det_ordenes_productos/EliminarConcepto/" + ID;
        $("#MyModalContent").load(url, function () {
            $("#MyModal").modal({
                //backdrop: 'static',
                keyboard: false
            }, 'show');
            bindForm(this);
        });
        return false;
    }

    var EditarOrden = function () {
        var encabezado = {
            Id: IdOC,
            Justificacion: $("#Justificacion").val(),
            Proyecto: $("#Proyecto").val(),
            adm_cuentas_Id: $("#adm_cuentas_Id").val(),
            oc_centrocostos_Id: $("#oc_centrocostos_Id").val(),
            oc_subcentrocostos_Id: $("#oc_subcentrocostos_Id").val(),
            oc_proveedores_Id: $("#oc_proveedores_Id").val(),
            oc_categoria_Id: $("#oc_categoria_Id").val(),
            oc_formapago_Id: $("#oc_formapago_Id").val(),
            oc_lugarentrega_Id: $("#oc_lugarentrega_Id").val(),
            oc_tipocompra_Id: $("#oc_tipocompra_Id").val(),
            oc_divisa_Id: $("#oc_divisa_Id").val(),
        }

        $.ajax({
            type: "POST",
            url: "/oc_ordenesdecompras/EditandoOC",
            data: '{encabezado:' + JSON.stringify(encabezado) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                if (r.respuesta) {
                    location.href = "/oc_ordenesdecompras/Index";
                }
                else {
                    toastr.error('Ha ocurrido un error.');
                }                
            }
        });

    }

    function bindForm(dialog) {
        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.respuesta === 'Correcto') {
                        $("#MyModal").modal('hide');
                        toastr.success('Operacion Correcta.');
                        table.draw();
                                                

                        $("#Subtotal").text('' + result.nuevosubtotal);
                        $("#IVA").text('' + result.nuevoiva);
                        $("#Total").text('' + result.nuevototal);

                    }
                    else {
                        $("#MyModal").modal('show');
                        toastr.error('Ha ocurrido un error.');
                        bindForm(dialog);
                    }
                },
                error: function (xml, message, text) {
                    toastr.error("Msg: " + message + ", Text: " + text);
                }
            });
            return false;
        });
    }

</script>
