@model WebAppOGL.Entities.OrdenesCompra.oc_ordenescompras
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <header class="clearfix">
        <div id="logo">
            <img src="~/images/LOGO TRANSPARENTE.png">
        </div>
        <div id="company">
            <h2 class="name">OPEN GATE LOGISTICS</h2>
            <div>Acceso III No 52, Int 3 PI Benito Juarez, Qro, Qro.</div>
            <div>442-295-0899</div>
            <div><a href="mailto:ventas@opengatelogistics.com">ventas@opengatelogistics.com</a></div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 brandSection">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 content">
                            <h1>Orden de Compra<strong> @Model.Folio</strong></h1>
                            <p>@Model.FechaCreacion.Value.ToShortDateString()</p>
                        </div>
                        <div class="col-md-12 col-sm-12 panelPart">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 panelPart">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            Datos Generales
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-6 col-xs-6">
                                                    <p>Solicitante: @Model.oc_solicitantes.NombreCompleto</p>
                                                    <p>Cuenta: @Model.Cuenta</p>
                                                    <p>Centro de Costos: @Model.oc_centrocostos.Descripcion</p>
                                                    <p>Sub Centro de Costos: @Model.oc_subcentrocostos.Descripcion</p>
                                                </div>
                                                <div class="col-md-8 col-sm-6 col-xs-6">
                                                    <p>Proyecto: @Model.Proyecto</p>
                                                    <p>Proveedor: @Model.oc_proveedores.NombreComercial</p>
                                                    <p>Forma de Pago: @Model.oc_formapago.Descripcion</p>
                                                    <p>Lugar de Entrega: @Model.oc_lugarentrega.Descripcion</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 tableSection">
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr class="tableHead">
                                        <th style="width:30px;">Codigo</th>
                                        <th>Description</th>
                                        <th style="width:100px;">Cantidad</th>
                                        <th style="width:100px;text-align:center;">P.Unitario</th>
                                        <th style="width:100px;text-align:center;">Sub Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewData["ListaOC"] as IEnumerable<WebAppOGL.Entities.OrdenesCompra.detalleproductos>)
                                    {
                                        <tr>
                                            <td>@item.codigo</td>
                                            <td>@item.producto</td>
                                            <td>@item.cantidad</td>
                                            <td>@item.precio</td>
                                            <td>@item.subtotal</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12 col-sm-12 lastSectionleft ">
                            <div class="row">
                                <div class="col-md-8 col-sm-6 Sectionleft">
                                    <p><i>Justificacion</i> @Model.Justificacion</p>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="panel panel-default">
                                        <div class="panel-body lastPanel">
                                            IMPORTE TOTAL
                                        </div>
                                        <div class="panel-footer lastFooter">
                                            <div class="row">
                                                <div class="col-md-5 col-sm-6 col-xs-6 panelLastLeft">
                                                    <p>SUBTOTAL</p>
                                                    <p>IVA</p>
                                                    <p>TOTAL</p>
                                                </div>
                                                <div class="col-md-7 col-sm-6 col-xs-6 panelLastRight">
                                                    <p>@ViewBag.Subtotal</p>
                                                    <p>@ViewBag.Iva</p>
                                                    <p>@ViewBag.Total</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 lastSectionleft ">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="panel panel-default">
                                        <div class="panel-footer lastFooter">
                                            <div class="row">
                                                <table class="table table-bordered text-center">
                                                    <thead>
                                                        <tr class="tableHead">
                                                            <th style="text-align:center">Solicitante</th>
                                                            <th style="text-align:center">Supervisor</th>
                                                            <th style="text-align:center">VoBo Compras</th>
                                                            <th style="text-align:center">VoBo Finanzas</th>
                                                            <th style="text-align:center">VoBo Direccion General</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>@Model.oc_solicitantes.NombreCompleto</td>
                                                            <td>
                                                                @Model.oc_solicitantes.oc_supervisores.NombreCompleto.ToUpper()
                                                                <br />
                                                                @Model.oc_statussupervisor.Descripcion
                                                            </td>
                                                            <td>
                                                                PATRICIA SANCHEZ
                                                                <br />
                                                                @Model.oc_statuscompras.Descripcion
                                                            </td>
                                                            <td>
                                                                GUSTAVO JASSO
                                                                <br />
                                                                @Model.oc_statusfinanzas.Descripcion
                                                            </td>
                                                            <td>
                                                                JORGE REYNOSO
                                                                <br />
                                                                @Model.oc_statusdirector.Descripcion
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>