@model WebAppOGL.Entities.Sistemas.sis_equipos

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <center>
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Detalle del Equipo</h4>
        </center>
    </div>
    <div class="modal-body">        
        <div>            
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Fecha_Alta)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fecha_Alta)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Fecha_Compra)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fecha_Compra)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Modelo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Modelo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Numero_Serie)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Numero_Serie)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Numero_Parte)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Numero_Parte)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nombre_Equipo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre_Equipo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MAC_Ethernet)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MAC_Ethernet)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MAC_WiFi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MAC_WiFi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CPU)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CPU)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RAM)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RAM)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.STORAGE)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.STORAGE)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sis_mantenimiento.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sis_mantenimiento.Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sis_marcas.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sis_marcas.Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sis_tipoequipos.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sis_tipoequipos.Descripcion)
                </dd>

            </dl>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
    </div>
</div>
