@model WebAppOGL.Entities.Sistemas.sis_equipos

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<div class="modal-content">

    <div class="modal-body">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <center>
                        <h3><i class="fa fa-desktop"></i> Detalle del Equipo <br /> @Model.Nombre_Equipo</h3>
                    </center>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h4 class="panel-title">Informacion del Equipo</h4>
                            </a>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Fecha_Compra)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Fecha_Compra)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Modelo)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Modelo)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Numero_Serie)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Numero_Serie)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Numero_Parte)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Numero_Parte)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Color)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Color)
                                        </dd>


                                        <dt>
                                            @Html.DisplayNameFor(model => model.Cargador)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Cargador)
                                        </dd>

                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h4 class="panel-title">Informacion Fisica del Equipo</h4>
                            </a>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Nombre_Equipo)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Nombre_Equipo)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.MAC_Ethernet)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.MAC_Ethernet)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.MAC_WiFi)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.MAC_WiFi)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.CPU)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.CPU)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.RAM)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.RAM)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.STORAGE)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.STORAGE)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Pantalla)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Pantalla)
                                        </dd>

                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h4 class="panel-title">Otra Informacion</h4>
                            </a>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Fecha_Alta)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Fecha_Alta)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.sis_estatusequipo.Descripcion)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.sis_estatusequipo.Descripcion)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.sis_mantenimiento.Descripcion)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.sis_mantenimiento.Descripcion)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.sis_marcas.Descripcion)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.sis_marcas.Descripcion)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.sis_tipoequipos.Descripcion)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.sis_tipoequipos.Descripcion)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>