@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>Open Gate Logistics</h1>
        <p class="lead">"El exito logistico de nuestros clientes es nuestra mision"</p>
        <p><a href="http://opengatelogistics.com" class="btn btn-primary btn-lg">Sitio Oficial &raquo;</a></p>
    </center>
</div>

@if (User.IsInRole("sistemas"))
{
    <div class="col-md-55">
        <div class="thumbnail" style="height:237px">
            <div class="image view view-first">
                <img style="width: 100%; display: block;" src="~/images/media.jpg" alt="image">
                <div class="mask">
                    <p>SISTEMAS</p>
                    <div class="tools tools-bottom">

                        <a href="@Url.Action("Index", "sis_dashboard")"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <center>
                <div class="caption">
                    <p>  Control de Equipos, Asignaciones, Documentacion y KPIS</p>
                    <a class="btn btn-default" href="@Url.Action("Index", "sis_dashboard")">Ir a &raquo;</a>
                    <br />
                </div>
            </center>
        </div>
    </div>
}

@if (User.IsInRole("sistemas") || User.IsInRole("compras") || User.IsInRole("trafico") || User.IsInRole("finanzas"))
{
    <div class="col-md-55">
        <div class="thumbnail" style="height:237px">
            <div class="image view view-first">
                <img style="width: 100%; display: block;" src="~/images/medios-magneticos.jpg" alt="image">
                <div class="mask">
                    <p>ORDENES DE SERVICIO</p>
                    <div class="tools tools-bottom">
                        <a href="@Url.Action("Index", "os_dashboard")"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <center>
                <div class="caption">
                    <p>  Generacion y Seguimiento de Ordenes de Servicio</p>
                    <p><a class="btn btn-default" href="@Url.Action("Index", "os_dashboard")">Ir a &raquo;</a></p>
                </div>
            </center>
        </div>
    </div>
}

<div class="col-md-55">
    <div class="thumbnail" style="height:237px">
        <div class="image view view-first">
            <img style="width: 100%; display: block;" src="~/images/oc.png" alt="image">
            <div class="mask">
                <p>ORDENES DE COMPRA</p>
                <div class="tools tools-bottom">

                    <a href="@Url.Action("Index", "oc_dashboard")"><i class="fa fa-link"></i></a>
                </div>
            </div>
        </div>
        <center>
            <div class="caption">
                <p>  Generacion y Seguimiento de Ordenes de Compra</p>
                <p><a class="btn btn-default" href="@Url.Action("Index", "oc_dashboard")">Ir a &raquo;</a></p>
            </div>
        </center>
    </div>
</div>



<!-- Custom Theme Scripts -->
<script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/build/js/custom.min.js"></script>