@model WebAppOGL.Entities.Sistemas.sis_asignacion_terminales

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSistemas.cshtml";
}

<h2>Details</h2>

<div>
    <h4>sis_asignacion_terminales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sis_terminales_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sis_terminales_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adm_empleados_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adm_empleados_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adm_area_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adm_area_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adm_cuentas_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adm_cuentas_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adm_sucursales_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adm_sucursales_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oc_proveedores_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oc_proveedores_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
