@model IEnumerable<WebAppOGL.Entities.OrdenesCompra.oc_divisa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOrdenesCompras.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Divisa</h2> &nbsp;&nbsp;&nbsp;
                <a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i>Agregar Registro</a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="tblEstatus" class="table table-bordered jambo_table">
                       <thead>
                           <tr>
                               <th>
                                   @Html.DisplayNameFor(model => model.Descripcion)
                               </th>
                <th></th>
                           </tr>
                       </thead>
                @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { id = item.Id })"> <span class="fa fa-edit" all="Editar" title="Editar"></span></a>
                        <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id = item.Id })"> <span class="fa fa-trash-o" all="Eliminar" title="Eliminar"></span> </a>
                    </td>
                </tr>
            }
                </table>
            </div>
        </div>

    </div>
</div>


<link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap.min.js"></script>
<script src="~/build/js/custom.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#tblEstatus').DataTable();
    });
</script>