@model IEnumerable<WebAppOGL.Entities.Sistemas.sis_estatusequipo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSistemas.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Informacion del Equipo </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <h2>Index</h2>

                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>


<script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/build/js/custom.min.js"></script>