@model WebAppOGL.Entities.Administracion.adm_empleados

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutSistemas.cshtml";
}

<div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-0 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Empleados <small>Eliminar</small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="bs-example" data-example-id="simple-jumbotron">
                <center>
                    <div class="jumbotron ">
                        <h3>¿Desea eliminar este registro?</h3>
                        <p>
                            <dl class="dl-horizontal">
                                <dt>
                                   <h2> @Html.DisplayNameFor(model => model.FechaAlta)   </h2>
                                </dt>

                                <dd>
                                    <h2> @Html.DisplayFor(model => model.FechaAlta) </h2> 
                                </dd>

                                <dt>
                                    <h2> @Html.DisplayNameFor(model => model.Nombres) </h2>
</dt>

                                <dd>
                                    <h2> @Html.DisplayFor(model => model.Nombres) </h2>
                                </dd>

                                <dt>
                                    <h2> @Html.DisplayNameFor(model => model.Apellido_Paterno) </h2>
</dt>

                                <dd>
                                    <h2> @Html.DisplayFor(model => model.Apellido_Paterno) </h2>
                                </dd>

                                <dt>
                                    <h2> @Html.DisplayNameFor(model => model.Apellido_Materno) </h2>
                                </dt>

                                <dd>
                                    <h2> @Html.DisplayFor(model => model.Apellido_Materno) </h2>
                                </dd>

                            </dl>
                        </p>
                     </div>
                </center>
            </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a class="btn btn-default" href="@Url.Action("Index")">Regresar</a>|
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
                }
            </div>
        </div>
</div>
