@model IEnumerable<WebAppOGL.Entities.Administracion.adm_empleados>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSistemas.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Empleados </h2> &nbsp;&nbsp;&nbsp;
                <a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> Agregar Registro</a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="tblEmpleados" class="table table-bordered jambo_table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaAlta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombres)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Apellido_Paterno)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Apellido_Materno)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaAlta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombres)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apellido_Paterno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apellido_Materno)
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" all="Editar" title="Editar" href="@Url.Action("Edit", new { id = item.Id })"> <span class="fa fa-edit"></span> </a>
                                <a class="btn btn-danger btn-sm" all="Eliminar" title="Eliminar" href="@Url.Action("Delete", new { id = item.Id })"> <span class="fa fa-trash-o"></span> </a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>


<link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap.min.js"></script>
<script src="~/build/js/custom.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tblEmpleados').DataTable();
    });
</script>