@model WebAppOGL.Entities.Sistemas.sis_asignacion

@{
    ViewBag.Title = "Delete";
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <center>
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Eliminar Asignacion</h4>
        </center>
    </div>
    <div class="modal-body">
        <div class="bs-example" data-example-id="simple-jumbotron">
            <center>
                <h3>¿Desea eliminar estos registro?</h3>
            </center>

            <div class="jumbotron ">
                <p>
                    <h4>
                        <label>
                            Fecha de Alta: @Html.DisplayFor(model => model.FechaAlta)
                        </label>
                    </h4>
                    <h4>
                        <label>
                            EMPLEADO : @Html.DisplayFor(model => model.NombreEmpleado)
                        </label>
                    </h4>
                    <h4>
                        <label>
                            Area del Empleado : @Html.DisplayFor(model => model.Area)
                        </label>
                    </h4>
                    <h4>
                        <label>
                            Equipo : @Html.DisplayFor(model => model.NumeroSerie)
                        </label>
                    </h4>
                    <h4>
                        <label>
                            Sucursal : @Html.DisplayFor(model => model.Sucursal)
                        </label>
                    </h4>
                </p>

            </div>

        </div>
        
    </div>
    <div class="modal-footer">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            
            <a class="btn btn-default" href="@Url.Action("Index")">Regresar</a>
            <input type="submit" value = "Delete" class="btn btn-danger" />
        }
    </div>
</div>


