@model WebAppOGL.Entities.Sistemas.sis_asignacion

@{
    ViewBag.Title = "Details";
    Layout = null; //"~/Views/Shared/_LayoutSistemas.cshtml";
}

<div class="modal-content">

    <div class="modal-body">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <center>
                        <h3>Detalle de la Asignacion</h3>
                    </center>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h4 class="panel-title">Informacion de Asignacion</h4>
                            </a>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <center>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon">Fecha Alta</div>
                                                    <input type="text" class="form-control" placeholder="Amount" value="@Model.FechaAlta">
                                                    <div class="input-group-addon"><span class="fa fa-calendar"></span> </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h4 class="panel-title">Informacion del Equipo Asignado</h4>
                            </a>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <center>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">Fecha Alta</div>
                                                        <input type="text" class="form-control" placeholder="Amount" value="@Model.sis_equipos.Modelo">
                                                        <div class="input-group-addon"><span class="fa fa-calendar"></span> </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">Fecha Alta</div>
                                                        <input type="text" class="form-control" placeholder="Amount" value="@Model.sis_equipos.Numero_Serie">
                                                        <div class="input-group-addon"><span class="fa fa-calendar"></span> </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">Fecha Alta</div>
                                                        <input type="text" class="form-control" placeholder="Amount" value="@Model.sis_equipos.Numero_Parte">
                                                        <div class="input-group-addon"><span class="fa fa-calendar"></span> </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">Fecha Alta</div>
                                                        <input type="text" class="form-control" placeholder="Amount" value="@Model.sis_equipos.CPU">
                                                        <div class="input-group-addon"><span class="fa fa-calendar"></span> </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">Fecha Alta</div>
                                                        <input type="text" class="form-control" placeholder="Amount" value="@Model.sis_equipos.RAM">
                                                        <div class="input-group-addon"><span class="fa fa-calendar"></span> </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">Fecha Alta</div>
                                                        <input type="text" class="form-control" placeholder="Amount" value="@Model.sis_equipos.STORAGE">
                                                        <div class="input-group-addon"><span class="fa fa-calendar"></span> </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">Fecha Alta</div>
                                                        <input type="text" class="form-control" placeholder="Amount" value="@Model.sis_equipos.Pantalla">
                                                        <div class="input-group-addon"><span class="fa fa-calendar"></span> </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">Fecha Alta</div>
                                                        <input type="text" class="form-control" placeholder="Amount" value="@Model.sis_equipos.Color">
                                                        <div class="input-group-addon"><span class="fa fa-calendar"></span> </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">Fecha Alta</div>
                                                        <input type="text" class="form-control" placeholder="Amount" value="@Model.sis_equipos.Cargador">
                                                        <div class="input-group-addon"><span class="fa fa-calendar"></span> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h4 class="panel-title">Informacion de la Ubicacion</h4>
                            </a>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <center>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon">Status</div>
                                                    @*<input type="text" class="form-control" placeholder="Amount" value="@Model.sis_estatusequipo.Descripcion">*@
                                                    <div class="input-group-addon"><span class="fa fa-flag-checkered"></span> </div>
                                                </div>                                               
                                            </div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-info">@Html.ActionLink("Descargar", "ImprimirVista", new { id = Model.Id })</button>
    </div>
</div>



<!--<div class="modal-content">    
    <div class="modal-body">

        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-align-left"></i> Collapsible / Accordion <small>Sessions</small></h2>
                </div>
                <div class="x_content">

                    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h4 class="panel-title">Informacion del Empleado</h4>
                            </a>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <center>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon">Fecha Alta</div>-->
                                                    @*<input type="text" class="form-control" placeholder="Amount" value="@Model.Fecha_Alta">*@
                                                    <!--<div class="input-group-addon"><span class="fa fa-calendar"></span> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h4 class="panel-title">Informacion del Equipo</h4>
                            </a>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <center>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon">Nombre Equipo</div>-->
                                                    @*<input type="text" class="form-control" placeholder="Amount" value="@Model.Nombre_Equipo">*@
                                                    <!--<div class="input-group-addon"><span class="fa fa-bookmark"></span> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>-->



                    @*<div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h4 class="panel-title">Collapsible Group Items #1</h4>
                            </a>
                            <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Username</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>mdo</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Larry</td>
                                                <td>the Bird</td>
                                                <td>twitter</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h4 class="panel-title">Collapsible Group Items #2</h4>
                            </a>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p>
                                        <strong>Collapsible Item 2 data</strong>
                                    </p>


                                    <h2>Details</h2>
                                    <div>


                                        <h4>sis_asignacion</h4>
                                        <hr />
                                        <dl class="dl-horizontal">
                                            <dt>
                                                @Html.DisplayNameFor(model => model.FechaAlta)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.FechaAlta)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.adm_empleados_Id)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.adm_empleados_Id)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.adm_area_Id)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.adm_area_Id)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.adm_sucursales_Id)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.adm_sucursales_Id)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.sis_equipos.Modelo)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.sis_equipos.Modelo)
                                            </dd>
                                        </dl>
                                    </div>
                                    <p>
                                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                                        @Html.ActionLink("Back to List", "Index")
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h4 class="panel-title">Collapsible Group Items #3</h4>
                            </a>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <p>
                                        <strong>Collapsible Item 3 data</strong>
                                    </p>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor
                                </div>
                            </div>
                        </div>
                    </div>*@

                <!--</div>
            </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</div>-->
