@model WebAppOGL.Entities.OrdenesServicio.os_detos_conceptos

@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <center>
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Delese eliminar este concepto?</h4>
        </center>
    </div>
    <div class="modal-body">

        <div class="bs-example" data-example-id="simple-jumbotron">
          
            <div class="jumbotron ">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>CODIGO</th>
                            <th>Concepto</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Precio Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.Codigo)</td>
                            <td>@Html.DisplayFor(model => model.os_conceptos.Descripcion)</td>
                            <td>@Html.DisplayFor(model => model.Cantidad)</td>
                            <td>@Html.DisplayFor(model => model.PrecioUnitario)</td>
                            <td>@Html.DisplayFor(model => model.Subtotal)</td>
                        </tr>
                    </tbody>                  
                </table>                
            </div>
        </div>        
    </div>
    <div class="modal-footer">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()         

            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" value="Delete" class="btn btn-danger" />
        }
    </div>
</div>